* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #181818;
}

.site_header {
    background-color: #D9663B;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    display: block;
}

.header_container {
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.name {
    height: 100%;
    display: table;
    float: left;
}

.name h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.nav_bar {
    float: right;
    height: 100%;
}

.nav_bar a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.nav_bar a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    height: 16px;
    color: white;
}

.nav_bar a:hover {
    background-color: #212121;
}

.site_content {
    width: 60%;
    height: 100%;
    color: white;
    background-color: #212121;
    padding: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.site_content h1 {
    font-size: 100px;
    font-weight: bold;
}

.site_content p {
    font-size: 40px;
}

.about {
    width: 60%;
    margin: 0 auto;
}